/**
 * Simple Pages
 */
@include media-breakpoint-up(sm) {
	.page__header,
	.page__copy {
        font-size: 1.125em;
        text-align: center; 
    } 
    .class_p {
        margin: 10%; 
    } 

    .class_h6 { 
        margin
    }
}